footer {
  width: 100%;
  max-height: 503px;
  position: relative;

  .footer_1 {
    background-color: $white;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    top: 0;
    left: 0;

    .footer_11 {
      height: 422px;

      .footer_12 {
        padding: 50px 0 0 20%;
        color: $dkgrey;
        font-size: 18px;

        .footer_13 {
          box-sizing: border-box;
          height: 422px;
          list-style: none;
          width: 70%;
          height: 70%;
          padding: 8px 0;
          font-size: 16px;

          &:first-of-type {
            padding-top: 18px;
            margin-top: 18px;
            border-top: 2.5px solid $grey;
          }

          a {
            text-decoration: none;
            color: inherit;

            &:hover {
              color: $darkorange;
            }
          }
        }
      }
    }

    .zemelapis > .footer_12 {
      position: relative;
      height: 26.37vh;
      height: 422px;
      padding: 0;

      h2 {
        color: $dkgrey;
        background-color: $white;
        font-size: 16px;
        text-transform: uppercase;
        padding: 13px 21px;
        text-decoration: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      a {
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }

    .apie_mus,
    .kontaktai {
      background-color: $lghtgrey;
    }

    .teisine_informacija {
      background-color: $lightgrey;
    }

    .kontaktai .footer_12 > li {
      &:first-of-type {
        font-weight: 500;
      }
    }
  }

  .footer_2 {
    width: 100%;
    height: 81px;
    background-color: $vdkgrey;
    display: flex;

    p {
      color: $white;
      font-size: 16px;
      align-self: center;
      margin: auto;
    }
  }
}
@media screen and (max-width: 1050px) {
  footer {
    .footer_1 {
      grid-template-columns: 1fr 1fr;
    }
  }
}
@media screen and (max-width: 660px) {
  footer {
    .footer_1 {
      grid-template-columns: 1fr;
    }
  }
}
