$white: #fff;
$grey: #a0a0a0;
$darkgrey: #525252;
$dkgrey: #424242;
$vdkgrey: #4d4d4d;
$lightgrey: #f7f7f7;
$lghtgrey: #e7e7e7;
$darkorange: #a4252f;
$red: #f73f4e;
$orange: #fe772d;
$green: #2de850;
$yellow: #f6d01d;
