@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900&subset=latin-ext');

* {
  padding: 0;
  margin: 0;
  // box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  width: 100%;
}

.container_1 {
  background-image: url("../images/Darken@1X.png");
  height: 100vh;
  width: 100vw;
}

@media only screen and (max-width: 979px) {
  .container_1 {
    height: auto;
  }
}

@import "variables";
@import "./layouts/header";
@import "./layouts/content";
@import "./layouts/footer";
