.pagrindinis {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    "title"
    "straipsnis"
    "navigacija"
    "footer";
    padding: 1em;
    grid-gap: 10px;
    font-family: Helvetica, Arial, SansSerif;
}
header {
    grid-area: title;
    text-align: center;
    background-color: midnightblue;
    color: aliceblue;
    padding: 1em;
    border-radius: 15px;
}
footer {
    grid-area: footer;
    text-align: center;
    background-color: midnightblue;
    color: aliceblue;
    padding: 1em;
    border-radius: 8px;
}
article {
    grid-area: straipsnis;
    border: midnightblue solid 1px;
    border-radius: 30px;
    padding: 1em;
}
.navigacija {
    grid-area: navigacija;
    text-decoration: none;
    justify-self: space-evenly;
    padding: 1em;
    align-self: center;
    color: midnightblue;
}
a {
    text-decoration: none;
    color: midnightblue;
}
.navigacija ul {
    list-style-type: none;
}
.p-center, h2 {
    text-align: center;
}
.p-right {
    text-align: right;
}
#map {
    height: 400px;
    width: 100%;
}
#apie {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 185px, auto-fill;
}
@media screen and (min-width: 1096px) {
    .pagrindinis {
        display: grid;
        grid-template-columns: 1fr 2fr 2fr 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
                ". title title . ."
                ". straipsnis straipsnis navigacija ."
                ". footer footer . .";
        padding: 1em;
        grid-gap: 10px;
    }
     #apie {
         display: grid;
         grid-gap: 20px;
         grid-auto-flow: column;
         grid-template-columns: 185px, auto-fill;
         grid-template-rows: auto;
         grid-template-areas: "manophoto lorem"
                              "lorem lorem"
     }
}
