body {
    font-size: xx-large;
}
#pagr {
    height: 900px;
    width: 900px;
    background-color: rgb(178, 178, 178);
    position: absolute;
    margin: auto;
    text-align: center;
    color: rgb(255,255,255);
}
#r, #g, #b {
    width: 500px;
    height: 500px;
    border-radius: 270px;
    position: relative;
    line-height: 500px;
    align-self: center;
    font-size: 94px;
}
#r {
    background: rgba(255,0,0,0.35);
    border: rgb(255,0,0) solid 20px;
    top: 30px;
    left: 200px;
}
#g {
    background: rgba(0,255,0,0.35);
    border: rgb(0,255,0) solid 20px;
    bottom: 220px;
    left: 30px;
}
#b {
    background: rgba(0,0,255,0.35);
    border: rgb(0,0,255) solid 20px;
    bottom: 750px;
    right: -320px;
}
