footer {

  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .f-1 {
      text-align: center;

      .logotipas img {
        height: 40px;
      }
      .geriausi img {
        height: 80px;
      }

      .geriausi {
        padding: 25px 0;
      }
    }

    .f-3 {}
  }
}