header {
  width: 100vw;
  max-width: 1920px;
  background-color: $white;
  top: 0;

  .container {
    width: 80vw;
    margin: 0 auto;
    &::after {
      content: "";
      clear: both;
      display: table;
    }

    #header_container {
      float: right;
    }

    #header1 {
      text-align: left;
      float: left;

      img {
        height: 5rem;
        margin: 10px 0;
      }
    }

    #header2,
    #header3 {
      text-align: right;
      text-transform: uppercase;
      font-size: 1.4rem;
      padding: 0;
      margin: 0;
      font-weight: 300;
      color: $grey;

      ul {
        list-style-type: none;
        padding: 0;

        input {
          height: 32px;
          padding: 15px;
        }

        li {
          text-decoration: none;
          display: inline;
          float: right;
          padding: 5px;
          letter-spacing: -1px;

          &:hover {
            color: $darkorange;
            cursor: pointer;
          }
        }
      }
    }

    #header3 {
      clear: both;

      ul {
        direction: ltr;

        li {
          box-sizing: border-box;
          padding: 0 12px;
          border: 2px solid $white;
          margin-bottom: 1rem;
          &:hover {
            border: 2px solid $grey;
          }
        }
      }
    }

    #header2 {
      ul {
        direction: rtl;

        .kalbos li {
          margin-right: 1vw;
          font-weight: 400;
          padding: 0.5rem;

          &:last-of-type {
            border-right: 1pt solid $grey;
            margin-right: 0;
          }
          .active {
            color: $darkorange;
          }
        }
        li {
          .active {
            color: $darkorange;
          }

          #search {
            margin-top: 12px;
            input[type="text"] {
              background-color: $white;
              border: 1px solid $grey;
              float: left;
              height: 30px;
              // margin-top: 5px;
              width: 20rem;
              direction: ltr;
              // padding: 10px;
            }

            button {
              background-color: $grey;
              color: $white;
              border: 1px solid $white;
              height: 30px;
              width: 42px;
              // margin-top: 5px;
            }
          }
         }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  header #header1 img {
    display: none;
  }
}