header {
  width: 100vw;
  background-color: #ddd;
  top: 0;

  .container {
    width: 80vw;
    margin: 0 auto;
    // padding: 5px;
    &::after {
      content: "";
      clear: both;
      display: table;
    }

    #header_container {
      float: right;
    }

    #header1 {
      text-align: left;
      float: left;
    }

    #header2 ul li {
      margin: 0 2px;
      font-weight: 400;
    }

    #header3 ul li {
      margin: 0 15px;
    }

    #header2,
    #header3 {
      text-align: right;
      text-transform: uppercase;
      font-size: 1.2rem;
      padding: 0;
      margin: 0;
      font-weight: bold;
      color: #999;
      direction: rtl;

      ul {
        list-style-type: none;
        padding: 0;

        input {
          height: 32px;
          padding: 15px;
        }

        li {
          text-decoration: none;
          display: inline;
          float: right;
          padding: 5px;
          direction: rtl;
          letter-spacing: -1px;

          &:hover {
            color: #FF4500;
            cursor: pointer;
          }

          i .fa-facebook-f {
            &:hover {
              color: #3b5998;
            }
          }
      }
      }
    }
  }

  #header3 {
    clear: both;
  }

  #search {
    input[type="text"] {
      background-color: #fff;
      border: 0 none;
      float: left;
      height: 1.2em;
      line-height: 1.2em;
      margin: 0;
      padding: 3px 0;
      width: 180px;
      direction: ltr;
    }

    button {
      background-color: #999;
      color: #fff;
      border: 0 none;
      height: 2.4em;
      width: 3.5em;
      line-height: 2.2em;
      margin: 0;
      // padding: 3px 0;
      // text-indent: -10000px;
    }
  }
}
