body, html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #ccc;
}

code {
  display: none;
  color: #222;
}

.pilkas, .virsus {
  display: inline-block;
  color: #444;
}

.pirmas {
  background-color: #fff;
  border: 2px solid #ddd;
  padding: 15px;
  border-radius: 7px;
}

.button {
  border-radius: 7px;
  cursor: pointer;
  color: #fff;
  font-variant: small-caps;
  padding: 7px 25px;
}
