#header_1 {

  #header_11 {
    display: flex;
    align-content: space-around;
    justify-content: space-around;

    div, div a {
      margin: auto 8px;
      text-decoration: none;
      font-size: 13px;
      color: $white;
      font-weight: 300;
      text-transform: uppercase;
      text-align: center;
      cursor: pointer;
      padding-bottom: 3px;

      #expire_top {
        text-transform: capitalize;
        font-size: 32px;
      }
    }

    #home {
      border-bottom: 2px solid $red;
      margin-left: 12%;
    }

    #contactus {
      margin-right: 12%;
    }
  }
}

@media only screen and (max-width: 979px) {
    #header_1 {
      height: auto;

      #header_11 {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 10px;
      }
    }
  }