#page3 {
  width: 100%;
  color: $white;
  background-color: $white;
  font-family: 'Open Sans', sans-serif;

  #section3 {
    background-image: url("../images/Overlay@1X.png");
    text-align: center;
    height: auto;
    min-height: 65vh;

    #paralax {
      font-size: 45px;
      font-weight: 600;
      font-family: 'Raleway', sans-serif;
      color: $white;
      padding: 7vh 0 2vh;
    }

    hr {
      display: block;
      width: 12%;
      height: 0.4px;
      background-color: $white;
      margin: auto;
    }

    #unexplored {
      font-size: 17px;
      font-weight: 400;
      padding: 2vh 0;
    }

    blockquote {
      font-size: 30px;
      font-weight: 300;
      quotes: "\201C""\201D""\2018""\2019";
      padding: 7vh 9vw;
      font-style: italic;
      position: relative;

      &:before {
        content: open-quote;
        display: inline;
        height: 0;
        line-height: 0;
        position: absolute;
        left: 3vw;
        top: 11vh;
        font-size: calc(28px + 10vw);
        font-family: 'Times New Roman', Times, serif;
        opacity: 0.5;
      }

      p {
        margin: 0;
        text-align: left;
      }

      footer {
        text-align: left;
        font-style: normal;
        padding-top: 5vh;
      }
    }
  }

  #footer3 {
    background-color: $darkgrey;
    width: 100%;
    height: auto;
    min-height: 35vh;
    display: flex;
    flex-direction: row;
    font-family: Raleway, sans-serif;

    .footer31 {
      display: flex;
      flex-direction: row;
      padding: 3% 5%;

      .footer311 {
        width: auto;
        height: auto;
        padding-top: 6vh;

        img {
          margin: 1vh 1vw;
        }
      }

      .footer312 {
        font-size: 40px;
        font-weight: 400;
        padding-top: 6vh;

        p {
          font-size: 25px;
          font-weight: 300;
          padding: 7vh 0;
        }
      }
    }
  }
}

@media screen and (max-width: 1190px) {
  #page3 {

    #footer3 {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .footer311, .footer312 {
        padding: 5%;
      }
    }
  }
}

@media screen and (max-width: 620px) {
  #page3 {

    #footer3 {
      display: block;
      //grid-template-columns: 1fr;

      .footer311, .footer312 {
        padding: 5%;
      }
    }
  }
}
