#page4 {
  width: 100%;
  background-color: $white;
  font-family: 'Open Sans', sans-serif;
  color: $black;

  #header4 {
    width: 100%;
    text-align: center;

    h2 {
      font-family: 'Raleway', sans-serif;
      font-size: 45px;
      font-weight: 600;
      padding: 5vh 0;
    }

    hr {
      display: block;
      width: 100px;
      height: 1px;
      background: linear-gradient(to right, $red, $black);
      margin: auto;
    }

    p {
      width: 60%;
      margin: auto;
      padding: 5vh 0;
    }
  }

  #section4 {
    width: 100%;
    display: flex;
    flex-direction: row;

    .section41 {
      margin: 0 2%;
      padding: 0 2%;
      width: 33.33333333333%;

      .img4 {
        width: 100%;
      }

      .p42 {
        font-size: 25px;
        font-weight: 400;

        &:hover {
          color: $red;
          cursor: pointer;
        }
      }

      hr {
        display: block;
        width: 60%;
        margin: 20px auto;
        color: $black;
      }

      span {
        padding: 2px;
      }

      .p43 {
        font-size: 14px;
        color: rgba(78, 88, 96, 255);
        padding: 2vh 0;
      }

      .button44 {
        width: 150px;
        height: 50px;
        background-color: $white;
        color: $red;
        font-size: 16px;
        font-weight: 600;
        font-family: 'Raleway', sans-serif;
        border: 2px solid $red;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 20px;

        &:hover {
          background-color: $red;
          color: $white;
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and (max-width: 990px) {
  #page4 {

    #section4 {
      display: block;

      .section41 {
        width: 88%;

        .img4 {
          width: 50vw;
        }
      }
    }
  }
}
