footer {
  width: 100%;
  max-height: 503px;
  position: relative;
}
@media screen and (max-width: 1050px) {
  footer {
    .footer_1 {
      grid-template-columns: 1fr 1fr;
    }
  }
}
@media screen and (max-width: 660px) {
  footer {
    .footer_1 {
      grid-template-columns: 1fr;
    }
  }
}
